@import "tailwindcss";

:root {
  --background: #faf0e6;
  --foreground: #171717;
}

@theme inline {
  --color-background: #faf0e6;
  --color-corbinRed: #733635;
  --color-corbinRedLight: #b25958;
  --color-corbinBlue: #003153;
  --color-lightCorbin: #faf0e6;
  --color-corbinGray: #d9d9d9;
  --color-corbinDarkGray: #7b807a;
  --color-corbinGreen: #355e3b;
  --color-corbinLightBlue: #166084;
  --color-corbinSalmon: #e7625f;
  --color-corbinCream: #ffdead;
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
